@font-face {
    font-family: Marhey;
    src: url(font/Marhey-Bold.ttf);
    src: url(font/Marhey-Medium.ttf);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Marhey;
}

body{
    text-align: center;
    color:white;
    background: rgb(255,153,198);
    background: radial-gradient(circle, rgba(255,153,198,1) 0%, rgba(184,148,251,1) 100%);
}

h1{
    font-size: 60px;
    text-shadow: 0 0 30px purple;
}

a{
display: block;
color: white;
text-decoration: none;
width: 250px;
height: 40px;
margin: 15px auto;
background-color: rgb(191, 127, 250);
border-radius: 10px;
padding: 10px;
border: 1px solid white;

}

a:hover{
    box-shadow: 0 0 5px rgb(55, 100, 223);
    border: 1px solid black;
    background-color: rgb(193, 227, 243);
    color: rgb(84, 94, 235);
    transform: scale(1.2);
}