*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 400px;
  width: 400px;
  margin: 50px auto;
  background: plum;
  display: flex;
}

.caja{
  background: skyblue;
  height: 100px;
  width: 100px;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin: 10px;
}


.container2{
  height: 400px;
  width: 400px;
  margin: 50px auto;
  background: plum;
  display: flex;
  flex-direction: column;
}

.caja2{
  background: skyblue;
  height: 100px;
  width: 100px;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin: 10px;
}


.container3{
  height: 400px;
  width: 400px;
  margin: 50px auto;
  background: plum;
  display: flex;
  flex-direction: column-reverse;
}

.caja3{
  background: skyblue;
  height: 100px;
  width: 100px;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin: 10px;
}

.container4{
  height: 400px;
  width: 400px;
  margin: 50px auto;
  background: plum;
  display: flex;
  flex-wrap: wrap;
}

.caja4{
  background: skyblue;
  height: 100px;
  width: 100px;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin: 10px;
}

.container5{
  height: 400px;
  width: 400px;
  margin: 50px auto;
  background: plum;
  display: flex;
  justify-content: center;
}

.caja5{
  background: skyblue;
  height: 100px;
  width: 100px;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin: 10px;
}



.container6{
  height: 400px;
  width: 400px;
  margin: 50px auto;
  background: plum;
  display: flex;
  align-items: flex-end;
}

.caja6{
  background: skyblue;
  height: 100px;
  width: 100px;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin: 10px;
}


.container7{
  height: 400px;
  width: 400px;
  margin: 50px auto;
  background: plum;
  display: flex;
  align-: center;
}

.caja7{
  background: skyblue;
  height: 100px;
  width: 100px;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin: 10px;
}
