*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-align: center;
    color: white;
    transition: 2s all ease;
}
.container{
    width: 90%;
    height: 100vh;
    background: rgb(140, 0, 255);
    margin: auto;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100px 40px auto 50px;

}
header{
    background: rgb(228, 120, 222);
    width: 100%;
    display: block;
    grid-column: 1/3;

}
nav{
    background: rgb(164, 164, 241);
    grid-column: 1/3;

}
aside{
    background: rgb(179, 230, 104);
    grid-column: 1/2;

}
main{
    background: rgb(240, 240, 108);
    grid-column: 2/3;
    grid-row: 3/4;

}
footer{
    background: rgb(233, 95, 148);
    grid-column: 1/3;

}

@media (min-width:400px) and (max-width:800px) {

    .container{
        width: 90%;
        height: 100vh;
        background: rgb(223, 190, 250);
        margin: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 16% 11% 11% 50% 12%;
    }

    header{
        background: rgb(172, 255, 183);
        width: 100%;
        display: block;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    nav{
        background: rgb(164, 241, 224);
        grid-column: 1/2;
        grid-row: 2/3;
    }

    aside{
        background: rgb(255, 253, 142);
        grid-column: 1/2;
        grid-row: 3/4;
    }
    main{
        background: rgb(255, 185, 185);
        grid-column: 1/2;
        grid-row: 4/5;
    }

    footer{
        background: rgb(156, 149, 255);
        grid-column: 1/2;
        grid-row: 5/6;
    }
    
}
